# MANIFEST.in
# This tells distutils what files to distribute.

global-exclude *.pyc
global-exclude *~

include LICENSE.txt
include README.rst
include MANIFEST.in
include setup.py
include requirements.txt

recursive-include tests *
recursive-include docs *
recursive-include ypkpathway/data *
recursive-include scripts *

include run_tests.py
include versioneer.py
include ypkpathway/_version.py
