# MANIFEST.in
# This tells distutils what files to distribute.

include LICENSE.txt
include README.rst
include MANIFEST.in
include setup.py
include requirements.txt

recursive-include tests *
recursive-include docs *
recursive-include ypkpathway/data *
global-exclude *.pyc
global-exclude *~

